<h1>Create new order</h1>
<form method = "post">
<div>
<label>Pizza: </label>
</div>
<div>
<label>Beverage: </label>
</div>
<div>
<label>Info: </label>
</div>
<div>
<label>Order date</label>
<p>{{}}</p>
</div>
<div>
<input type="submit" value="Create">
<input type = "hidden" name = "action" value = "create"><br/>
</div>
</form>
<a href ="index.php">Back</a>