<h1>Vítej, {{customername}}</h1>
<a href = "{{#addressVerified}}createOrder.php?customer_id={{customerId}}{{/addressVerified}}">Create Order</a>
<a href = "orders.php?customer_id={{customerId}}">My Orders</a>
<a href = "userDetails.php?customer_id={{customerId}}">Change Account Details</a>
<a href = "logout.php">Log Out</a>