<h1>Vítej, {{customername}}</h1>
<a href = "#">Create Order</a>
<a href = "orders.php?customer_id={{customerId}}">My Orders</a>
<a href = "#">Change Account Details</a>
<a href = "logout.php">Log Out</a>