<h1>Příhlášení</h1>
<form method = "post">
<label for="email">Email:</label>
<input type = "email" required name="email" id="email">
<label for='password'>Password:</label>
<input type="password" required name="password" id="password">
<input type="submit" value="Přihlásit">
</form>
<a href="register.php">Nemáte u nás účet?</a>