<h1>My Orders</h1>
<table class="table table-stripe list">
<thead>
<tr>Email</tr>
<tr>Expected delivery time</tr>
<tr>Price</tr>
<tr>Status</tr>
</thead>
<tbody>
{{#orders}}
<tr>
    <td>{{email}}</td>
    <td>{{delivery_time}}</td>
    <td>{{price}}$</td>
    <td>{{state}}</td>
    <td><a href="orderDetail.php?order_id={{order_id}}">Detail</a></td>
</tr>
{{/orders}}
</tbody>
</table>
<a href = "index.php">Back</a>