<h1>Detail of Order</h1>
<table class="table table-stripe list">
<thead>
<tr>Pizza</tr>
<tr>Beverage</tr>
<tr>Info</tr>
<tr>Price</tr>
<tr>Order Time</tr>
<tr>Expected delivery time</tr>
<tr>State</tr>
<tr>Number</tr>
<tr>Street</tr>
<tr>City</tr>
<tr>Postal Code</tr>
</thead>
<tbody>
<tr>
{{#orderDetail}}
    <td>{{PizzaName}}</td>
    <td>{{BeverageName}}</td>
    <td>{{info}}</td>
    <td>{{price}}$</td>
    <td>{{order_time}}</td>
    <td>{{delivery_time}}</td>
    <td>{{state}}</td>
    {{#address}}
    <td>{{number}}</td>
    <td>{{street}}</tr>
    <td>{{city}}</tr>
    <td>{{postal_code}}</tr>
    {{/address}}
    {{/orderDetail}}
</tr>
</tbody>
</table>
<a href = "orders.php?customer_id={{customer_id}}">Back</a>