<h1>Change Password</h1>
<form method = "post">
<label>Password:</label>
<input type="password" required name="password" id="password">
</div>
<div>
<label>Verify password:</label>
<input type="password" required name="verifypassword" id="verifypassword">
</div>
<div>
<input type="submit" value="Change"><br/>
</form>
<a href = "index.php">Back</a>