<h1>Registrace</h1>
<form method = "post">
<div>
<label for ="name">Name:</label>
<input type = "text" required name="name" id="name">
</div>
<div>
<label for ="surname">Surname:</label>
<input type = "text" required name="surname" id="surname">
</div>
<div>
<label for="email">Email:</label>
<input type = "email" required name="email" id="email">
</div>
<div>
<label>Password:</label>
<input type="password" required name="password" id="password">
</div>
<div>
<label>Verify password:</label>
<input type="password" required name="verifypassword" id="verifypassword">
</div>
<div>
<input type="submit" value="Sign Up">
</div>
</form>
<a href="login.php">Already registered?</a>