{{#details}}
<h1>Details of {{name}}</h1>
<form method = "post">
<div>
<label for="name">Name: </label>
<input type="text" id="name" name="name" required value="{{name}}">
</div>
<div>
<label for="surname">Surname: </label>
<input type="text" id="surname" name="surname"required value="{{surname}}">
</div>
<div>
<label for="email">Email: </label>
<input type="email" id="email" name="email"required value="{{email}}">
</div>
<div>
<label for="street">Street: </label>
<input type="text" id="street" name="street"required value="{{street}}">
</div>
<div>
<label for="city">City: </label>
<input type="text" id="city" name="city"required value="{{city}}">
</div>
<div>
<label for="number">Number: </label>
<input type="number" id="number" name="number"required value="{{number}}">
</div>
<div>
<label for="postal_code">Postal Code: </label>
<input type="number" id="postal_code" name="postal_code"required maxlength="5" size="5" value="{{postal_code}}">
</div>
<div>
<input type="hidden" name="action" id="action" value="update">
<input type = "hidden" name="customer_id" id="customer_id" value="{{customer_id}}">
<input type = "submit" value = "Change">
</div>
{{/details}}
</form>
<a href = "index.php">Back</a>